.navbar {
  display: flex;
  justify-content: space-between;
  padding: 5rem 6rem 1rem;
  align-items: center;
  z-index: 0;
}

.navbar__logo {
  font-size: 2.4rem;
  font-weight: 700;
  display: inline-block;
  background-image: var(--text-gradient);
  -webkit-background-clip: text;
  color: transparent;
  user-select: none;
}

.navbar__right {
  display: flex;
  align-items: center;
}

.menu-btn {
  padding: 1.4rem 3.6rem;
  border-radius: 50rem !important;
  outline: 1px solid var(--primary-color);
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  margin-left: 2rem;
  border-collapse: separate;
}

.menu-btn p {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--primary-color);
  user-select: none;
}

.menu-btn:hover {
  background-color: var(--highlight-color);
}

@media (max-width: 1200px) {
  .navbar {
    padding: 5rem 5rem 1rem;
  }
}

@media (max-width: 992px) {
  .navbar {
    padding: 4rem 4.5rem 1rem;
  }
}

@media (max-width: 786px) {
  .navbar {
    padding: 4rem 3.5rem 1rem;
  }

  .menu-btn:hover {
    background-color: var(--background-color);
  }
}

@media (max-width: 600px) {
  .navbar {
    padding: 3.5rem 3rem 1rem;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 3rem 2.4rem 1rem;
  }

  .menu {
    padding: 1.2rem 2.5rem;
    margin-left: 1.5rem;
  }

  .menu-btn {
    padding: 1.2rem 3.2rem;
    margin-left: 1.8rem;
  }
}

@media (max-width: 360px) {
  .navbar {
    padding: 2rem 2rem 1rem;
  }

  .menu-btn {
    padding: 1.2rem 3rem;
    margin-left: 1.6rem;
  }

  .menu-btn p {
    font-size: 1.4rem;
  }
}

@media (max-width: 300px) {
  .navbar {
    padding: 2rem 1.8rem 1rem;
  }
}
