@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 97%;
    --foreground: 234 25% 4%;
    --primary: 0 0% 6%;
    --primary-foreground: 0 0% 77%;
    --secondary-foreground: 215 4% 62%;
    --muted-foreground: 215 4% 43%;
    --border: 241 1 12%;
    --ring: 240 5% 27%;
  }

  .dark {
    --background: 234 25% 4%;
    --foreground: 0 0% 97%;
    --primary: 0 0% 6%;
    --primary-foreground: 0 0% 77%;
    --secondary-foreground: 215 4% 62%;
    --muted-foreground: 215 4% 43%;
    --border: 241 1 12%;
    --ring: 240 5% 27%;
  }

  * {
    @apply box-border;
  }
}
