.landing {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.landing__content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: calc(100vw - 4rem);
}

.landing__title {
  font-weight: 700;
  font-size: 7rem;
  margin-bottom: 3rem;
  line-height: 1.2;
  display: inline-block;
  background-image: var(--text-gradient);
  -webkit-background-clip: text;
  color: transparent;
}

.landing__description {
  width: min(calc(100% - 1rem), 55rem);
  font-size: 2.4rem;
  font-weight: 450;
  margin: 0 auto 10rem;
  color: var(--primary-color);
  line-height: 1.5;
}

@media (max-height: 640px) {
  .landing__description {
    margin: 0 auto 6rem;
  }
}

@media (max-width: 640px) {
  .landing__description {
    font-size: 2.2rem;
    margin-bottom: 8rem;
  }
}

@media (max-width: 480px) {
  .landing__title {
    font-size: 12.5vw;
  }
}

@media (max-width: 400px) {
  .landing__description {
    font-size: 1.8rem;
  }
}

@media (max-width: 360px) {
  .landing__description {
    margin-bottom: 6rem;
  }
}

@media (max-width: 300px) {
  .landing__content {
    width: calc(100vw - 2rem);
  }

  .landing__title {
    margin-bottom: 2rem;
  }

  .landing__description {
    font-size: 1.6rem;
  }
}
